<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="src/main/resources/static/style.css"  th:href = "@{/style.css}" type="text/css">
  <title>Tarea labo 4 PNC</title>
</head>

<body>

	<h1>Ingresar producto</h1>
	
	<div class = "container">
	
	<form th:action="@{/formProducto}" th:object="${producto}" method="post">
	
		<div>
			<label>Nombre del producto: </label>
			<input type="text"  th:field="*{nombre}"><br>
			<span th:errors = "*{nombre}" style = "color: #E81505;"></span>
		</div>
		
		<br><br>
		
		<div>
			<label>Descripcion del producto: </label>
			<input type="text" th:field="*{descripcion}"><br>
			<span th:errors = "*{descripcion}" style = "color: #E81505;"></span>
		</div>
		
		<br><br>
		
		<div>
			<label>Precio del producto: </label>
			<input type="number" th:field="*{precio}"><br>
			<span th:errors = "*{precio}" style = "color: #E81505;"></span>
		</div>
		
		<br><br>
		
		<div>
			<label>Fecha de vencimiento del producto: </label>
			<input type="text" th:field="*{vencimiento}"><br>
			<span th:errors = "*{vencimiento}" style = "color: #E81505;"></span>
		</div>
		
		<br><br>
		
		<input type="submit" value="Agregar producto" class = "boton1">
		
	</form>
	
	</div>
	
	
</body>
</html>